[uwsgi]
wsgi-file = /opt/open-notify/server.py
callable = api
procname-prefix = API-
socket = /tmp/uwsgi.sock
uid = www-data
gid = www-data
processes = 1
workers = 3
master = true
logto = /var/log/uwsgi/%n.log
