[Unit]
Description=Open Notify API uWSGI Module
After=syslog.target

[Service]
ExecStart=/usr/bin/uwsgi --ini /opt/open-notify-api-uwsgi.ini
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=main

[Install]
WantedBy=multi-user.target
