alias ll='ls -l'
alias la='ls -A'
alias sl=ls
alias cd..='cd ..'
alias diskspace='df -h'
alias files='du -sh ./* | sort -h'
alias start='sudo systemctl start '
alias stop='sudo systemctl stop '
alias follow='sudo journalctl -f -u '
