Source: open-notify-api
Section: python
Priority: extra
Maintainer: Nathan Bergey <nathan@open-notify.org>
Build-Depends: debhelper (>= 9), python3, dh-virtualenv (>= 0.8)
Standards-Version: 0.1.0

Package: open-notify-api
Architecture: any
Pre-Depends: dpkg (>= 1.16.1), ${misc:Pre-Depends}
Depends: ${python:Depends}, ${misc:Depends}, python3.5, uwsgi, uwsgi-plugin-python3
Description: Open Notify API server
