<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/style.css" />

  <title>open-notify.org APIs</title>
</head>
<body>

  <div id="wrapper">
  <div id="content">
  <div id="header">
    <div class="container">
      <div class="navbar">
        <a class="brand" href="http://www.open-notify.org">Open Notify</a>
        <h2>API Server</h2>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="page-header">
      <h3>Current APIs:</h3>
    </div>
    <div class="row">
      <div class="span12">

        <h4>JSON</h4>
        <p>
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Documentation</th>
              </tr>
            </thead> 

            {% for api in apis %}
            <tbody>
              <tr>
                <td><a href="{{ api.link }}">{{ api.title|safe }}</a></td>
                <td>{{ api.desc|safe }}</td>
                <td><a href="{{ api.doclink }}">{{ api.docname|safe }}</a></td>
              </tr>
            </tbody>
            {% endfor %}

          </table>
        </p>

        <h4>RSS</h4>
        <p>
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Documentation</th>
              </tr>
            </thead> 
            <tbody>
              <tr>
                <td><a href="http://mars.open-notify.org/">MARS Rover Image RSS Feeds</a></td>
                <td>Recently taken photos from Mars delivered as RSS.</td>
                <td><a href="http://mars.open-notify.org/about.html">about page</a></td>
              </tr>
            </tbody>
          </table>
        </p>

      </div>
    </div>

    <div class="page-header">
      <h3>Source</h3>
    </div>
    <div class="row">
      <div class="span12">
        <p>
          Source code for the ISS APIs: <a href="https://github.com/open-notify/Open-Notify-API">github.com/open-notify/Open-Notify-API</a>
        </p>
      </div>
    </div>

  </div>
  </div>
  </div>
  
  <div id="footer">
    <div class="container">
      <hr />
      Made by <a href="https://twitter.com/natronics">@natronics</a>
    </div>
  </div>

</body>
</html>
